
.nav-bar{
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    color:#fff;
    background-color: #000 !important;
    width: 100%;
    opacity: 0.60;
    line-height: 1.5;
}

.nav-menu{

    font-size: 24px;
    color:#fff;
    font-family: "Amatic SC", sans-serif;    
}

.menu-item{
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    cursor: pointer;
    text-decoration: none;
}

.cover-image{
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    min-width:100%;
    min-height: 100%;
}



